.Contact {
    padding: 1% 10%;
    background: #F7D7B5;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;

    p, span {
        font-size: 16px;
    }
}
.socials {
    display: flex;
    gap: 20px;
    img {
        max-width: 50px;
    }
}
@media screen and (max-width: 600px) {
    .Contact, .socials {
        display: block;
        text-align: center;
    }
    .contact-list p {
        font-size: 15px;
        white-space: nowrap;
        text-align: center;
    }
    .socials img {
        max-width: 50px;
        padding: 0 20px;
    }
}