.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 5%;
  gap: 15px;

  h1 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #e68a2e;
    text-align: center;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
  }

  .project {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #f7d7b5;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-5px);
    }

    .project-image {
      flex: 1;
      img {
        width: 100%;
        border-radius: 16px;
        object-fit: cover;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }
    }

    .project-info {
      flex: 1;

      h2 {
        font-size: 22px;
        margin-bottom: 10px;
        color: #222;
      }

      p {
        font-size: 16px;
        margin-bottom: 15px;
        color: #444;
        line-height: 1.6;
      }

      .code-link {
        display: inline-block;
        background: #351c75;
        color: #fff;
        padding: 8px 15px;
        border-radius: 10px;
        text-decoration: none;
        transition: background 0.5s, color 0.5s;

        &:hover {
          background: #e69138;
          color: #351c75;
        }
      }
    }
  }

.more-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: sans-serif;
    letter-spacing: 3px;
    padding: 30px 70px;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #f7d7b5;
    border-radius: 10px;
    transition: background-color 1s ease, color 0.6s ease;

    &:hover {
      background: #351c75;
      color: #e69138;
    }
  }



}

@media screen and (max-width: 768px) {
  .Projects {
    .project {
      flex-direction: column;
      text-align: center;
      gap: 0;
      .project-info {
        margin-top: 15px;
      }
    }
            .more-button {
            padding: 20px;
            font-size: 12px;
            margin: 0 0 7px 0;
        }
  }
}
